<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>Smallcase Task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css"> -->
    <!-- <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css"> -->
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="SmallcaseTask" ng-controller="stocksController">
    <h1>Smallcase Task</h1>
    <h2>Stock Prices</h2>
    <ul>
      <li ng-repeat="(name, price) in stockPrices">
        {{name}} : {{price}}
      </li>
    <ul>
    <h2>Stock EPS</h2>
      <li ng-repeat="(name, eps) in stockEPS">
        {{name}} : {{eps}}
      </li>
    <h2>Stock Historicals</h2>
      <li ng-repeat="(name, historical) in stockHistoricals">
        {{name}} : {{historical}}
      </li>
    </h1>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controller.js"></script>
  </body>
</html>
